/* CSS declarations go here */
@import './utils.scss';

body {
  background: white;
  background-attachment: fixed;
  @include type-regular();
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
  max-width: 100%;
  margin: 15px auto;
  min-height: 100%;
}

a{
  &:hover{
    text-decoration: none;
  }
}


.pull-right{
  float: right;
}

p{
  @include type-regular();
  @include font-m2();
}
