// Core
$color-primary: #5db9ff; //caribbean teal (buttons)
$color-deep-blue: #022F40; 

// Alert
$color-error: #E53D00; //error, alert
$color-warning: #EAC435;

// Greyscale
$color-grey-1: white;
$color-grey-2: #f8f8f8;
$color-grey-3: #f2f2f2;
$color-grey-4: #eee;
$color-grey-5: #ccc;
$color-grey-6: #aaa;
$color-grey-7: #666;
$color-grey-8: #555;
$color-black: #333;